@{
    ViewData["Title"] = "Home Page";
}

@model List<Data.Student>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://miniprofiler.com/">MiniProfiler</a>.</p>
</div>

<hr />

<div id="call-res"></div>


<hr />


<table id="minip">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Courses</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address.Address</td>
            <td>@item.StudentCourses.FirstOrDefault()?.Course.CourseName</td>
        </tr>
    }
</table>

@section Scripts
{
    <script type="text/javascript">

        function Call(text) {
            $.ajax({
                type: 'GET',
                url: '/Home/HttpCall?text=' + text,
                success: function (jsonData) {
                    console.log('das', jsonData);
                    $("#call-res").append("<p>" + jsonData + "</p><br/>");
                },
                error: function (result) {
                },
                complete: function () {

                }
            }).done(function (result) {

            });
        }

        Call("Beşiktaş");
        Call("Kara Kartal");

    </script>
}
